body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    transform-origin: center center;
    transform: scale(0);
    animation: fadeInAndScale 0.5s forwards;
}

h1 {
    font-size: 5vw;
    color: #333;
    margin-bottom: 1vw;
}

label {
    font-size: 1.8vw;
    display: block;
    margin-bottom: 1vw;
    margin-top: 1vw;
}

input {
    font-size: 2vw;
    border-radius: 100vw;
    margin: 1vw;
    border-width: 0.5vw;
    padding: 1vw;
    width: calc(100% - 10px);
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

input:hover,
input:focus {
    border-color: #4caf50;
    outline: none;
}

button {
    font-size: 2vw;
    background-color: #4caf50;
    color: #fff;
    padding: 1vw;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

p {
    font-size: 2vw;
    margin-top: 1vw;
    font-weight: bold;
}

#sortedArray {
    color: #007bff;
}

@keyframes fadeInAndScale {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(0.9);
    }
}